@import './variables.scss';
@import './helper-classes.scss';
@import './components/index.scss';
@import '../../node_modules/quill/dist/quill.core.css';
@import '../../node_modules/quill/dist/quill.snow.css';
@import '../../node_modules/quill/dist/quill.bubble.css';

*:not(ul):not(ol) {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.svg-inline--fa {
  cursor: pointer;
}

[contenteditable] {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  &:empty::before {
    content: attr(data-placeholder);
    color: grey;
  }
  &:hover, &:focus {
    border-bottom-style: solid;
  }
  &:focus {
    outline: 0;
    border-color: red;
  }
}
.popup {
  & input[type=checkbox]:checked + &__content {
    display: block;
  }
  &__content {
    position: absolute;
    background: white;
    border: 1px solid;
    border-radius: 25px;
    padding: 1em;
    z-index: 1000;
    &.subject__adding {
      top: $header-height;
    }
  }
}
