@import './variables.scss';
@import './helper-classes.scss';
@import './components/index.scss';

*:not(ul):not(ol) {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.svg-inline--fa {
  cursor: pointer;
}
