.app {
  &__header {
    @extend .flex-horizontal;
    @extend .cross-center;
    position: absolute;
    top: 0px;
    height: $header-height;
    border-bottom: 1px solid;
    width: 100%;
    padding: 0em .3em;
  }
  &__content {
    position: absolute;
    top: $header-height;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
  &__subjects {
    &-list {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 1em;
    }
  }
  &__subject {
    position: absolute;
    left: $subject-container-width + 1%;
    top: 0px;
    right: 0px;
    &__unit-list {
      border-left: 2px solid;
      padding-left: 2px !important;
    }
    & + .app__subjects {
      position: absolute;
      top: 0px;
      bottom: 0px;
      border-right: 1px solid;
      left: 0px;
      width: $subject-container-width;
      & .app__subjects-list {
        display: flex;
        flex-direction: column;

      }
      & .subject__item {
        width: 100%;
        display: block;
      }
    }
  }
}
